.current-theme-item {
    margin: 0 auto 10px;
    text-align: center;
    display: none;
}

.current-theme-title {
    margin-top: 15px;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
}

.current-theme-name {
    padding: 0 10px 3px;
}

.current-theme-image-container {
    background-clip: padding-box;
    border-radius: 3px;
    border: 2px solid rgba(0,0,0,.5);
    background: rgba(255,255,255,.8);
    -webkit-box-shadow: 0 0 6px rgba(0,0,0,.5);
    max-width: 254px;
    max-height: 150px;
    margin: 5px auto;
    position: relative;
    overflow: hidden;
}

.current-theme-image {
    width: 250px;
    border-radius: 1px;
    pointer-events: none;
}

.current-theme-download-title {
    margin: 10px 0 5px;
    display: none;
}

.current-theme-download-container {

}

.current-theme-download {
    padding: 2px 11px;
    margin: 3px 5px;
}

.download-resolution {
    font-size: 12px;
    display: block;
}

.download-size {
    font-size: 11px;
    display: block;
    color: #CACACA;
    text-shadow: 1px 1px 1px #7D7D7D;
}

/* Loader */

#current-theme-image-container .loading .squaresLoading {
    margin: auto auto 10px;
}

#current-theme-image-container .loading .squaresLoadingProgress {
    text-align: center;
    font-size: 15px;
    text-shadow: 1px 1px 0 #ccc;
    margin-top: 10px;
}

#current-theme-image-container .loading .squaresLoadingError {
    text-align: center;
    font-size: 14px;
    text-shadow: 1px 1px 0 #ccc;
    margin-top: 10px;
    color: #FF0000;
    display: none;
}

#current-theme-image-container .squaresLoadingSuccess {
    position: absolute;
    bottom: 0;
    padding: 4px 0 2px;
    border: 2px;
    font-size: 13px;
    color: #FFFFFF;
    width: 250px;
    display: none;
}

.squaresLoading {
    width: 43px;
    height: 11px;
    background: url(img/buttons/popup/squares-loader.gif);
}

.tab-content-loader {
    left: 50%;
    margin-left: -30px;
    position: absolute;
    top: 50%;
    display: none;
}

.tab-content-loader-container div {
    font-size: 14px;
    margin-top: 15px;
    font-weight: bold;
    color: #9A9A9A;
}

.tab-content-loader-img {
    width: 60px;
}

#current-theme-image-container .loading {
    -webkit-transition: 200ms ease opacity;
    background-color: rgba(255,255,255,.7);
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    padding-top: 20%;
    text-align: center;
    font-size: 15px;
    text-shadow: 1px 1px 0 #ccc;
    display: none;
    /*display: block !important;*/
}

.more-themes,
.back-to-newtab {
    text-align: center;
    background: #337ab7;
    padding: 10px 0;
}

.page-title {
    background: #337ab7;
    padding: 10px 0;
    min-height: 53px;
}

.more-themes {
    /*position: fixed;*/
    /*bottom: 0;*/
    width: 100%;
    /*display: none;*/
}

.options-page-icon {
    float: left;
    width: 35px;
    margin-left: 20px;
    position: relative;
    top: 2px;
}

.options-page-title {
    display: inline-block;
    float: left;
}

.page-title p {
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    position: relative;
    top: 6px;
    margin-left: 20px;
}

.page-options {
    padding: 15px 20px;
}

.page-options label,
.page-options .input-label,
.options-settings-speed-dial-generate-type {
    color: #262626;
    margin-bottom: 10px;
    font-weight: bold;
    display: inline-block;
}

.dials-columns-count-wrap label + label {
    margin-left: 10px;
}

.options-settings-speed-dial-dials-columns-count {
    position: relative;
    top: 2px;
    font-weight: bold;
    color: #262626;
}

.options-settings-speed-dial-count-description {
    color: #A9A4A4;
    font-size: 13px;
    font-weight: normal;
}

.dial-count-selector input {
    margin-right: 13px;
}

.popular-dials-settings {
    display: none;
}

.dial-count-selector label,
.dials-open-type label,
.search-open-type label {
    position: relative;
    top: 3px;
}

.dials-open-type {
    margin-top: 5px;
    margin-bottom: 5px;
}

.search-open-type {
    margin-top: 15px;
}

.page-options input[type=checkbox] {
    zoom: 1.3;
    position: relative;
    top: 2px;
    left: 5px;
}

.options-header-right-block {
    position: absolute;
    right: 0;
    top: 9px;
}

.back-to-newtab-link {
    display: inline;
    font-size: 12px;
    padding-top: 7px;
    padding-bottom: 8px;
    margin-right: 25px;
}

.settings-control-tab-button,
.feedback-link,
.help-link {
    font-size: 12px;
    padding-top: 7px;
    padding-bottom: 8px;
    display: inline;
    margin-right: 12px;
}

.background-parallax-display {
    /*display: none;*/
}

.dials-settings {
    display: none;
}

.background-parallax-value {
    display: none;
}

.background-parallax-display label {
    margin-right: 20px;
}

.options-settings-parallax-title {
    display: inline-block;
    margin-right: 8px;
}

.options-settings-parallax-subtitle {
    color: #A9A4A4;
    font-size: 13px;
    position: relative;
    top: -1px;
}

.options-settings-parallax-enable-notice {
    color: #A9A4A4;
    font-size: 13px;
    position: relative;
    top: -1px;
}

.search-form-min-opacity,
.dials-form-min-opacity {
    width: 64px;
}

#search-form-min-opacity-slider,
#parallax-value-slider,
#dials-form-min-opacity-slider,
#clock-opacity-slider,
#clock-background-opacity-slider,
#weather-opacity-slider,
#weather-background-opacity-slider,
#page-bottom-panel-opacity-slider {
    width: 100%;
    max-width: 385px;
}

.search-form-provider {
    padding-bottom: 10px;
    display: none;
}

.search-form-provider input[type=radio] {
    margin-left: 10px;
}

.search-form-settings {
    display: none;
}

.page-options select {
    /*width: 57%;*/
    /*max-width: 157px;*/
    min-width: 138px;
}

.ui-widget-header {
    background: #337ab7;
}

.current-powered-video-note {
    color: #3A3939;
    font-size: 15px;
    margin: 20px 2px 0 0;
    text-align: right;
}

.add-user-flixel-btn {
    margin-right: 20px;
    cursor: pointer;
    border-right: 1px solid #BDBCBC;
    padding-right: 26px;
    display: none;
}

.current-powered-video-note a,
.current-powered-video-note a:hover {
    text-decoration: none;
}

.current-powered-video-note img {
    width: 32px;
    margin: 0 5px;
}

.current-theme-video-note {
    font-size: 15px;
    margin: 20px 0 0;
    text-align: center;
}

.current-theme-video-note-livebg {
    margin: 5px 0 0;
}

.current-theme-live-note {
    font-size: 22px;
    color: #449d44;
    text-align: center;
}

.disable-video {
    display: none;
    margin: 10px 0 0;
}

#available-themes .tab-content {
    display: none;
}

/* callout block */

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #EEE;
    border-left-width: 5px;
    border-radius: 3px;
}

.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 18px;
}

.bs-callout span:last-child {
    margin-bottom: 0;
}

.bs-callout-info {
    border-left-color: #1B809E;
}

.bs-callout-info h4 {
    color: #1B809E;
}

.bs-callout-warning {
    border-left-color: #AA6708;
}

.bs-callout-warning h4 {
    color: #AA6708;
}

.bs-callout-danger {
    border-left-color: #D44950;
}

.bs-callout-danger h4 {
    color: #D44950;
}

.nav-pills>li>a {
    /*border-top-left-radius: 0px;*/
    /*border-top-right-radius: 0px;*/
}

.nav-pills>li:first-child>a {
    /*border-bottom-left-radius: 0px;*/
}

.nav-pills>li:last-child>a {
    /*border-bottom-right-radius: 0px;*/
}

.nav-pills>li+li {
    padding-left: 17px;
}

.nav-pills>li>a {
    background-color: #EEE;
}

.available-themes-container {
    padding: 0 20px;
}

/* Available content */

.available-themes {
    min-height: 120px;
    margin-top: 30px;
}

.available-themes-favorite {
    margin-top: 10px;
}

.available-themes-header {
    margin-bottom: 0;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.available-themes-block {
    padding: 10px 0;
    text-align: center;
    padding-bottom: 25px;
}

#available-flixel-backgrounds {
    background-color: #FFF;
}

.av-content-container {
    width: 264px;
    height: 230px;
    min-height: 230px;
    margin: 15px;
    display: inline-table;
    position: relative;
}

.hide-first-av-content > .av-content-container:first-child{
    display: none!important;
}

.av-content-title {
    padding: 0 3px 3px 3px;
    text-align: center;
    overflow: hidden;
    max-width: 100%;
    max-height: 23px;
}

.av-content-img-container {
    background-clip: padding-box;
    border-radius: 3px;
    border: 2px solid rgba(0,0,0,.5);
    background: rgba(255,255,255,.8);
    -webkit-box-shadow: 0 0 6px rgba(0,0,0,.5);
    max-width: 254px;
    max-height: 150px;
    min-width: 254px;
    min-height: 150px;
    margin: 5px auto;
    position: relative;
    overflow: hidden;
}

.av-content-img-container-dark {
    background-color: #000000;
}

.av-content-img {
    width: 265px;
    height: 147px;
    max-width: 265px;
    max-height: 147px;
    position: relative;
    z-index: 3;
}

.av-content-img-loader {
    position: absolute;
    top: 40%;
    left: 45%;
}

.av-content-img-settings {
    position: absolute;
    right: 6px;
    top: 29px;
    z-index: 7;
    opacity: 0.7;
    width: 31px;
    cursor: pointer;
    outline: none;
    display: none;
    padding: 3px;
}

.av-content-img-settings.active{
    display: inline;
}

.av-content-img-settings.active:hover {
    opacity: 0.9;
}

.av-content-img-delete {
    position: absolute;
    right: 6px;
    top: 31px;
    z-index: 7;
    opacity: 0.6;
    width: 26px;
    cursor: pointer;
    outline: none;
    display: none;
    padding: 3px;
}

.av-content-img-delete.active, .av-content-container:hover .av-content-img-delete.active{
    display: inline;
}

.av-content-img-delete.active-disabled{
    display: none!important;
}

#most-viewed .dial:hover .bt {
  right: 0px;
  animation-duration: 0.2s;
  animation-name: bt-slide;
}

@keyframes bt-slide {
  from {
    top: 1;
    right: -20px;
  }
  to {
    top: 1;
    right: 0px;
  }
}



.av-content-img-delete.active:hover {
    opacity: 0.9;
}

.av-content-img-width-auto {
    width: 100%;
}

.av-restore-default-theme-img {
    width: 250px;
}

.av-content-footer {
    text-align: center;
    padding: 5px;
}

.av-content-footer-favorite {
    padding: 0;
}

.av-content-footer-text {
    font-size: 11px;
    color: #736D6D;
    margin: 0 0 2px;
    overflow: hidden;
    height: 15px;
}

.av-content-install,
.av-content-restore {
    width: 100%;
}

.av-content-install.available-install-static.btn-success,
.av-content-install.available-install-video.btn-success,
.av-content-install.available-install-flixer-video.btn-success {
    width: 48%;
    float: left;
    margin-left: 1%;
}

.av-content-install.btn-danger {
    background-color: #449d44;
    border-color: #398439;
}

.av-content-install.btn-danger:hover {
    background-color: #398439;
    border-color: #2C652C;
}

.av-content-install.btn-success {
    background-color: #5bc0de;
    border-color: #46b8da;
}

.av-content-install.btn-success:hover {
    background-color: #31b0d5;
    border-color: #269abc;
}

.load-more-flixel-content.btn-success {
    background-color: #ec971f;
    border-color: #d58512;
}

.load-more-flixel-content.btn-success:hover {
    background-color: #d58512;
    border-color: #985f0d;
}

.popup-restore-default-theme-body {
    position: relative;
}

.options-restore-theme-popup-body-load {
    position: absolute;
    top: 240px;
    left: 270px;
}

.options-restore-theme-popup-body-load img {
    width: 85px;
}

.restore-default-theme-dialog-body {
    min-height: 405px;
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.restore-default-theme-description,
.welcome-options-description {
    position: relative;
    width: 100%;
    cursor: pointer;
}

.welcome-settings-body {
    font-size: 22px;
    color: #239C23;
}

.welcome-options-close {
    margin-top: 18px;
    margin-bottom: 0px;
}

.welcome-options-feedback {
    margin-top: 15px;
}

.welcome-options-not-show-label {
    margin-right: 20px;
    font-size: 12px;
    color: #808080;
}

.welcome-options-not-show-label input[type=checkbox]{
    position: relative;
    top: 2px;
    margin-right: 6px;
}

.welcome-options-close-button {
    margin-bottom: 10px;
}

.av-content-img-description {
    position: absolute;
    top: 114px;
    padding: 6px 0;
    width: 250px;
    background: rgba(255, 255, 255, 0.95);
    z-index: 4;
    display: none;
}

.av-content-img-description-text {
    overflow: hidden;
}

.installed-item-budge {
    font-size: 13px;
    padding: 3px 10px;
    cursor: default;
    border-radius: 4px;
    line-height: 1.42857143;
    margin: 3px 5px;
}

.image-budge {
    background-color: #337ab7;
    padding: 10px 15px;
}

.video-budge {
    background-color: #5cb85c;
}

.av-content-resolution-buttons {
    position: absolute;
    top: 122px;
    left: 7px;
    right: 8px;
    padding: 5px 0;
    width: 250px;
    background: rgba(255, 255, 255, 0.7);
    display: none;
    z-index: 4;
}

.av-content-resolution-flixel-buttons {
    top: 134px;
}

.av-content-resolution-flixel-buttons button {
    width: 65px;
    padding: 4px 11px 3px;
}

.av-content-resolution-buttons-themes {
    left: 8px;
}

.settings-tab-buttons {
    margin: 0 20px;
}

.settings-tab-button {
    font-size: 12px;
    margin: 0 5px;
}

.settings-tabs {
    display: none;
}

.settings-tabs.active {
    display: block;
}

.av-content-view {
    float: right;
    width: 48%;
    display: none;
}

.av-content-view.active {
    display: inline-block;
}

/* Video popover */

.video-popover-block {
    display: none;
}

.video-popover {
    width: 340px;
    min-height: 233px;
    max-width: 340px;
    z-index: 8;
    /*max-height: 233px;*/
}

.video-popover .popover-content {
    padding: 9px 0;
    text-align: center;
}

.tooltip {
    display: inline-table !important;
}

.tooltip-inner {
    white-space:pre-wrap;
}

.load-more-content-container {
    display: none;
    
    margin-bottom: 35px;
    min-height: 34px;
}

/* jGrowl plugin */

.ui-state-highlight {
    background: #1F1F1F;
    color: #FFFFFF;
}

.jGrowl-message {
    word-break: normal;
    text-align: center;
}

/* Rotation animation */

@-webkit-keyframes rotating {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotating {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.rotating {
    -webkit-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

.more-flixel-content-img {
    top: 2px;
}

.more-flixel-content-text {
    margin-left: 8px;
}

.clock-font-bold-block {
    margin-bottom: 10px;
}

.clock-settings {
    display: none;
}

.page-options .tab-content>.tab-pane {
    padding: 15px 10px 0;
}

.options-settings-clock-ul {
    margin-top: 15px;
}

.clock-type-block {
    margin-bottom: 15px;
    margin-top: 13px;
}

.clock-format-label-block label {
    margin-bottom: 0;
}

.clock-color-text {
    display: inline-block;
    width: 170px;
}

.clock-colors-block hr {
    margin-top: 18px;
    margin-bottom: 23px;
}

.clock-color-block {
    display: none;
}

.clock-colors-block-items {
    display: none;
}

.clock-ampm-label-color-block {
    display: none;
}

.mini-colors {
    margin: 0 0 10px 0;
    padding: 0;
    border: 0;
    width: 87px;
    height: 20px;
    border-left: 20px solid #0770ba;
    line-height: 20px;
    display: inline-block;
    background: none;
    padding-left: 5px;
    cursor: pointer;
}

.color-border {
    border: 1px solid #DADADA;
    width: 21px;
    height: 21px;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}

.clock-color-text-h {
    position: relative;
    top: 2px;
}

.clock-mini-colors {
    position: relative;
    display: inline-block;
}

.clock-color-scheme-btn {
    margin: 0 3px;
    box-shadow: 2px 2px 5px #888;
}

.clock-color-scheme-btn,
.clock-color-scheme-btn:hover,
.clock-color-scheme-btn:focus,
.clock-color-scheme-btn:active {
    border: 2px solid rgba(0,0,0,0);
    outline: 0;
}

.clock-color-scheme-light,
.clock-color-scheme-light:hover,
.clock-color-scheme-light:focus,
.clock-color-scheme-light:active {
    background: #F1F1F1;
    color: #000000;
}

.clock-color-scheme-dark,
.clock-color-scheme-dark:hover,
.clock-color-scheme-dark:focus,
.clock-color-scheme-dark:active {
    background: #444;
    color: #FFF;
}

.clock-color-scheme-active,
.clock-color-scheme-active:hover,
.clock-color-scheme-active:focus,
.clock-color-scheme-active:active{
    border: 2px solid #337ab7;
}

.clock-opacity {
    margin-bottom: 23px;
}

.clock-background-block{
    margin-bottom: 10px;
}

.clock-format-label-block {
    display: none;
}

.clock-format input[type=radio] {
    margin-left: 10px;
}

.clock-format-label-block,
.clock-visible-label-block {
    padding-top: 13px;
}

.clock-background-opacity {
    display: none;
}

/* Share dialog popup */

.popup-share-app-dialog-text {
    font-size: 16px;
    margin-bottom: 25px;
    display: block;
}

.popup-share-app-dialog-text-1 {
    font-size: 17px;
    margin-top: 6px;
    font-weight: 700;
    color: #333333;
}

.popup-share-app-dialog-text-4 {
    font-size: 14px;
    color: #808080;
    font-style: italic;
    margin-bottom: 15px;
}

.share-button-instance {
    display:inline-block;
    vertical-align:bottom;
    width:32px;
    height:32px;
    margin: 0 0 0 20px;
    padding:0;
    cursor: pointer;
    outline:none;
}

.share42init {
    text-align: center;
    display: block;
}

.share42init-top {
    /*float: right;*/
    margin-right: 40px;
    display: none;
}

.share42init-top .share42 {
    float: left;
    position: relative;
    //top: -5px;
}

.share42init-top .share42 a {
    float: left;
}

#share-app-dialog .modal-dialog {
    width: 700px;
}

#share-app-dialog .modal-content {
    overflow: hidden;
    background-color: #f5f5f5;
}

#share-app-dialog .modal-header {
    border: none;
}

#share-app-dialog .modal-body {
    padding: 0;
}

.popup-share-text-block {
    padding: 0 15px;
}

.popup-share-middle-block {
    background-color: #FFF;
    border-top: 1px solid #E8E8E8;
    margin: 0;
    padding: 24px 15px;
}

.popup-share-app-dialog-title {
    color: #4978ad;
    font-weight: bold;
    font-size: 17px;
}

@media (min-width: 768px) {
    #share-app-dialog .modal-dialog {
        width: 700px;
    }
}

@media (max-width: 1330px) {
    .share42init-top {
        display: none !important;
    }
}

@media (max-width: 1200px) {
    .feedback-link {
        display: none !important;
    }
}

@media (max-width: 1100px) {
    .help-link {
        display: none !important;
    }
}

@media (max-width: 1100px) {
    .help-link {
        display: none !important;
    }
}

@media (max-width: 1100px) {
    .help-link {
        display: none !important;
    }
}

@media (max-width: 1030px) {
    .back-to-newtab-link {
        display: none !important;
    }
}

@media (max-width: 810px) {
    .settings-control-tab-button {
        display: none !important;
    }
}

@media (max-width: 570px) {
    .settings-tab-buttons {
        margin: 55px 15px 20px;
        display: block;
    }

    .settings-tab-button {
        display: block;
        margin-bottom: 5px;
        padding: 10px 12px;
        font-size: 13px;
    }
}

.nav-pills>li+li {
    padding-left: 0;
}

@media (min-width: 768px) {
    .nav-pills>li+li {
        padding-left: 17px;
    }
}


.share-button-big-instance {
    display: inline-block;
    cursor: pointer;
}

.share-button-big-instance-sm-column {
    width: 174px;
}

.share-button-big-instance-sm-column:first-of-type,
.share-button-big-instance-sm-column:last-of-type {
    width: 175px;
}

.share-button-big-instance-column:first-of-type,
.share-button-big-instance-column:last-of-type {
    width: 349px;
}

.share-button-image-big-instance {
    padding: 15px 0 17px;
}

.share-button-text-big-instance {
    color: #FFF;
    font-family: Arial, sans-serif;
    font-size: 13px;
    letter-spacing: 1px;
    margin: 0 0 20px;
}

.modal-title {
    text-align: center;
}

.modal-dialog {
    margin: 50px 20px;
}

@media (min-width: 768px) {
    .modal-dialog {
        width: 600px;
        margin: 150px auto;
    }
}

.share-button-fb-big {
    background-color : #3b5998;
}

.share-button-fb-big:hover {
    background-color : #5572b0;
}

.share-button-twi-big {
    background-color : #55acee;
}

.share-button-twi-big:hover {
    background-color : #6dbcf8;
}

.share-button-vk-big {
    background-color : #4978ad;
}

.share-button-vk-big:hover {
    background-color : #538ccd;
}

.share-button-odn-big {
    background-color : #f88515;
}

.share-button-odn-big:hover {
    background-color : #ff9229;
}

/* Feed back dialog */

.form-field-required-text {
    color: #969696;
    padding-left: 8px;
    position: relative;
    top: -1px;
}

.feedback-form button[type=submit] {
    margin-top: 15px;
}

.feedback-form .exampleTextArea {
    height: 200px;
    max-width: 100%;
}

.feedback-form .form-error-text {
    display: none;
}

.feedback-form .has-error {
    color: #a94442;
}

.feedback-success {
    display: none;
}

.feedback-success p {
    font-size: 20px;
    margin: 40px 0 30px;
}

.feedback-success-glyphicon {
    margin: 40px 0 30px;
}

.feedback-success-glyphicon .glyphicon {
    font-size: 50px;
    color: #4cae4c;
}

.feedback-success button {
    margin-bottom: 45px;
    margin-top: 15px;
}

/* Application rating */

.options-header-center-block {
    display: none;
}

.options-application-rating-popup {
    padding: 22px 23px;
    margin: auto;
    color: #000;
    text-align: center;
    cursor: default;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    font-size: 13px;
    background: #e5e5e5 url("img/buttons/rating-bg.png") repeat;
    height: 96px;
    border-bottom: 1px solid #EFEEEE;
    background-color: #f5f5f5;
    box-shadow: 0 4px 2px -2px #C7C7C7;
}

.options-application-rating-popup-title {
    color: #286090;
    font-size: 17px;
    margin-bottom: 11px;
    font-weight: bold;
}

.options-application-rating-item {
    color: #363636;
    padding: 0 15px;
    font-size: 14px;
    cursor: pointer;
    text-decoration: underline;
}

.options-application-rating-item:hover {
    color: #363636;
    text-decoration: none;
}

.options-application-rating-popup-data,
.options-application-rating-popup-stars {
    height: 70px;
}

.options-application-rating-popup-stars {
    display: none;
    cursor: pointer;
}

.options-application-rating-popup-stars .options-application-rating-popup-title {
    margin-bottom: 8px;
}

.options-application-rating-popup-star-item {
    margin: 0 3px;
    width: 28px;
}

/* Weather settings */

.weather-unit input[type=radio] {
    margin-left: 15px;
}

.weather-unit-display {
    margin-top: 15px;
}

.weather-background-display {
    margin-bottom: 5px;
}

.weather-opacity {
    margin-bottom: 18px;
}

.weather-settings,
.weather-background-opacity {
    display: none;
}

.weather-location input {
    border-radius: 3px;
    padding: 2px 4px;
    margin-left: 5px;
    text-transform: uppercase;
    height: 32px;
    width: 175px;
}

.options-settings-weather-location-form button {
    position: relative;
    top: -2px;
}

.options-settings-weather-location-input {
    display: none;
}

.options-settings-weather-location-description {
    color: #449D44;
    margin: 0 7px;
    line-height: 32px;
}

.weather-location-current-block-text {
    display: none;
    color: #D80924;
    padding-bottom: 10px;
}

.options-settings-weather-location-form {
    display: inline;
}

/* To do settings */

.todo-settings {
    display: none;
}

/* Speed dial thumb types */

.dials-generate-type {
    margin-bottom: 10px;
}

input.speed-dial-generate-type-item {
    margin-left: 15px;
    margin-right: 7px;
    position: relative;
    top: 2px;
}

input.dials-columns-count-item {
    margin-left: 7px;
    margin-right: 3px;
    position: relative;
    top: 2px;
}

.dials-generate-type-wrap,
.dials-columns-count-wrap {
    display: inline-block;
    vertical-align: top;
}

.dials-columns-count-wrap label,
.dials-generate-type-wrap label,
.search-form-provider label,
.clock-format label,
.weather-unit label {
    font-weight: normal;
}

/* Favorite content */

.not-available-themes-container-img {
    position: relative;
    top: -2px;
    margin-right: 7px;
}

.not-available-themes-container-text {
    font-size: 22px;
    text-align: center;
    padding: 70px 0 50px;
    color: #FF9800;
}

.av-content-favorite-img {
    position: absolute;
    left: 3px;
    top: 3px;
    z-index: 7;
    width: 24px;
    height: 24px;
    cursor: pointer;
    outline: none;
    padding: 3px;
    display: none;
    background: url('img/buttons/favorite_on.png') no-repeat;
}

.av-content-favorite-img-active {
    opacity: 0.9;
}

.av-content-favorite-img-active:hover {
    opacity: 1;
}

.av-content-favorite-img-active,
.av-content-favorite-img-active:hover {
    background: url('img/buttons/favorite_active.png') no-repeat;
}

.delete-from-favorite-dialog {
    z-index: 9999;
}

.delete-from-favorite-dialog .modal-dialog {
    width: 450px;
}

.delete-from-favorite-dialog .modal-header {
    border: none;
}

.delete-from-favorite-dialog .modal-footer {
    text-align: center;
    padding-bottom: 18px;
}

.delete-from-favorite-dialog .modal-footer .btn {
    margin-left: 10px;
    margin-right: 10px;
}

.delete-from-favorite-dialog-text {
    font-size: 18px;
    margin-bottom: 0;
}

.delete-theme-dialog, .queue-over-dialog {
    z-index: 9999;
}

.delete-theme-dialog .modal-dialog, .queue-over-dialog  .modal-dialog {
    width: 450px;
}

.delete-theme-dialog .modal-header, .queue-over-dialog .modal-header {
    border: none;
}

.delete-theme-dialog .modal-footer, .queue-over-dialog .modal-footer {
    text-align: center;
    padding-bottom: 18px;
}

.delete-theme-dialog .modal-footer .btn, .queue-over-dialog .modal-footer .btn {
    margin-left: 10px;
    margin-right: 10px;
}

.delete-theme-dialog-text, .queue-over-dialog-text {
    font-size: 18px;
    margin-bottom: 0;
}



.random-themes-container {
    display: none;
    
    font-size: 14px;
    color: #464444;
    font-weight: bold;
    text-align: center;
}

.random-themes-container-wrap {
    padding-left: 25px;
    padding-top: 15px;
}

.random-themes-container-wrap-flixel {
    padding-top: 3px;
    padding-left: 15px;
    text-align: left;
}

.random-themes-container-wrap-livebg {
    padding: 20px 0 8px;
}

.random-themes-container-wrap-imagebg {
    padding: 0;
    text-align: left;
}

.options-settings-random-themes-enable-notice {
    cursor: default;
    user-select: none;
    -webkit-user-select: none;
}

input[type=checkbox].random-themes-display {
    margin-right: 5px;
    position: relative;
    top: 2px;
    cursor: pointer;
}

.random-themes-display-label,
.options-settings-random-themes-enable-notice {
    cursor: pointer;
}

.options-settings-themes-sort-type .btn-primary.active, .options-settings-images-sort-type .btn-primary.active {
    background-color: #449d44;
    border-color: #398439;
}

.options-settings-themes-sort-type .btn-primary.active:hover, .options-settings-images-sort-type .btn-primary.active:hover {
    background-color: #398439;
    border-color: #2C652C;
}

.options-settings-themes-sort-type .btn, .options-settings-images-sort-type .btn {
    border: none;
}

/* Create flixel video modal */

#add-user-flixel-dialog .modal-content {
    overflow: hidden;
    background-color: #f5f5f5;
}

#add-user-flixel-dialog .modal-body {
    padding: 0 0;
}

#add-user-flixel-dialog .modal-header {
    border: none;
}

.popup-add-user-flixel-body {
    font-size: 16px;
    margin-bottom: 20px;
    padding: 0 15px;
    display: block;
}

.popup-add-user-flixel-title {
    font-size: 17px;
    margin-top: 6px;
    font-weight: 700;
    color: #333;
    margin-bottom: 25px;
}

.popup-add-user-flixel-body-code img {
    width: 34px;
    margin: 0 5px;
    position: relative;
    top: -1px;
}

.popup-add-user-flixel-body-links-container {
    font-size: 14px;
    margin-bottom: 27px;
    padding: 0 15px;
    display: block;
}

.popup-add-user-flixel-body-text {
    font-size: 17px;
}

.popup-add-user-flixel-body-links-text {
    margin-top: 10px;
    margin-bottom: 10px;
}

.popup-add-user-flixel-body-code-container {
    background-color: #FFF;
    border-top: 1px solid #E8E8E8;
    margin: 0;
    padding: 32px 0;
}

.popup-add-user-flixel-body-code {
    color: #678FA2;
    font-size: 19px;
    margin: 0;
}

.popup-add-user-flixel-body-app-name,
.popup-add-user-flixel-body-app-discount {
    color: #f88515;
}

.popup-add-user-flixel-body-footer a {
    padding: 30px 2px 30px;
    font-size: 17px;
}

.popup-add-user-flixel-body-footer a,
.popup-add-user-flixel-body-footer a:visited,
.popup-add-user-flixel-body-footer a:hover,
.popup-add-user-flixel-body-footer a:active {
    color: #FFF;
}

.popup-add-user-flixel-body-footer a + a {
    margin-left: 20px;
}

.popup-add-user-flixel-link-iphone {
    background-color: #3b5998;
}

.popup-add-user-flixel-link-iphone:hover {
    background-color: #5572b0;
}

.popup-add-user-flixel-link-mac {
    background-color: #55acee;
}

.popup-add-user-flixel-link-mac:hover {
    background-color: #6dbcf8;
}

.popup-add-user-flixel-link-cloud {
    background-color: #f88515;
}

.popup-add-user-flixel-link-cloud:hover {
    background-color: #ff9229;
}

#add-user-flixel-dialog .btn-group>.btn-group:first-child:not(:last-child)>.btn:last-child {
    border-top-left-radius: 0;
}

#add-user-flixel-dialog .btn-group>.btn-group:last-child:not(:first-child)>.btn:first-child {
    border-top-right-radius: 0;
}


#vk-group-link{
    font-size: 12px;
    display: none;
    text-transform: uppercase;
    
    margin-right: 12px;
    padding: 7px 15px 8px 41px;
    
    background-color: #3b5b7c;
    background-image: url('./img/buttons/vk_02.png');
    background-repeat: no-repeat;
    background-position: 5px 5px;
}

a {
    outline:none !important;
}

.options-settings-random-themes-enable-notice, .random-themes-display-label{
    margin-left: 17px;
}

.buttons-wrap{
    display: inline-block;
    position: relative;
}

#options-settings-images-upload{
    display: none;
    
    
    position: absolute;
    top: 0;
    right: -215px;
    height: 32px;
}

#options-settings-images-upload .glyphicon{
    margin-right: 10px;
}

.width-100{
    width: 100%
}

.line-30{
    line-height: 30px;
}

.btn-relative{
    height: 35px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.btn-relative input{
    top: 0; left: 0; right: 0; bottom: 0;
    z-index: 1000;
    position: absolute;
    opacity: 0.0;
}

#upload-image-dialog-close{
    float: left;
}

#upload-image-dialog-apply, #upload-image-dialog-progress{
    width: 40%;
    float: right;
    text-align: center;
}

#upload-image-dialog-progress{
    display: none;
    height: 34px;
    margin-bottom: 0px;
}

.upload-image-progress-text{
    line-height: 34px;
    font-size: 14px;
}

.upload-image-dialog-error{
    color: red;
    font-size: 12px;
    display: block;
    text-align: right;
    display: block;
    margin: 0 0 7px 0;
}

#video-themes-coming-soon-note{
    display: none;
    padding-top: 100px;
    font-size: 22px;
    color: #449d44;
    text-align: center;
}

#video-themes-coming-soon-block{
    display: block;
}

#themes-search-form-wrap{
    display: none;
}

#themes-search-form{
    padding: 20px 30px 5px 30px;
    background-color: transparent;
    box-shadow: none;
    border: 0;
    text-align: center;
    
}

#themes-search-form .input-group{
    width: 500px!important;
}

#themes-search-form .glyphicon-search{
    color: white;
    margin-right: 10px;
}

#themes-search-form .datalist{
    display: none;
    
    position: absolute;
    top: 35px; left: 0px; right: 0px;
    
    text-align: left;
    list-style: none;
    
    background-color: white;
    border-radius: 0 0 5px 5px;
    border: 1px solid #f4f4f4;
    
    padding: 0px;
    z-index: 100;
    box-shadow: 0px 11px 10px rgba(0,0,0,0.1);
    
}

#themes-search-form .datalist li{
    cursor: pointer;
    font-size: 14px;
    padding: 8px 8px 8px 8px;
    margin : 0 0px 0 0px;
    border-bottom: 1px solid #f4f4f4;
}

#themes-search-form .datalist li:last-child{
    border: 0;
}

#themes-search-form .datalist li.active{
    background-color: beige;
}

#themes-search-form .datalist li:hover{
    background-color: azure;
}

.selectedTxt{
    display: none;
    margin-left: 5px;
    font-size: 12px;
    /*font-style: italic;*/
    position: absolute;
    top: 1px;
    right: -65px;
    width: 65px;
    
}

.settings-background-tab-button .selectedTxt{
    display: inline-block;
}

.settings-background-tab-button span{
    position: relative;
}
