* {
    margin: 0;
    padding: 0;
}

html{
    height: 100%;
}
body {
    /*min-height: 100%;*/
    overflow-x: hidden;
    font: small arial,sans-serif;
    margin: 0;
    text-align: -webkit-center;
    background: none;
    text-align: -moz-center;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    
}

body *{
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

input, textarea{
    user-select: text!important;
    -moz-user-select: text!important;
    -webkit-user-select: text!important;
}



body.dark-background {
    /*background-color: #000000;*/
}

/* Page scroll */

::-webkit-scrollbar-thumb {
    /*background: rgba(255,255,255,.8);*/
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.5);*/
}

::-webkit-scrollbar {
    /*width: 12px;*/
    /*z-index: 9999999999999;*/
}

::-webkit-scrollbar-track {
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);*/
}

#background-borders {
    bottom: 0;
    position: fixed;
    width: 100% !important;
    height: 100% !important;
    backface-visibility: hidden;

    user-select: none;
    -webkit-user-select: none;
}

/* Page background */

#background-image-container {
    bottom: 0;
    position: fixed;
    width: 126% !important;
    height: 140%;
    left: -13% !important;
    top: -9%;
    backface-visibility: hidden;
}

#background-container,
#background-image-container,
#background,
#background-image,
#background-borders,
#mv-clock {
    pointer-events: none;
}

#background-image {
    min-width: 100%;
    min-height: 100%;
}

#background-container.parallax {
    bottom: 0;
    position: fixed;
    width: 126% !important;
    height: 110% !important;
    left: -13% !important;
    top: -9% !important;
    backface-visibility: hidden;
}

#background-container.static {
    bottom: 0;
    position: fixed;
    width: 100% !important;
    height: 100% !important;
    left: 0 !important;
    top: 0 !important;
    backface-visibility: hidden;
}

#background.parallax {
    min-width: 100%;
    min-height: 100%;
}

#background.static {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.img-top {
    position: fixed;
    top: 0;
    left: 0;
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    -ms-transition: all 2s ease-in-out;
}

.img-top:hover {
    -webkit-transform: translate(8em,0);
    -moz-transform: translate(8em,0);
    -o-transform: translate(8em,0);
    -ms-transform: translate(8em,0);
}

/* Search style */

.search-container {
    position: relative;

    user-select: none;
    -webkit-user-select: none;
}

.application-logo {
    width: 40px;
    margin-right: 5px;
    position: relative;
    top: -1px;

    user-select: none;
    -webkit-user-select: none;
}

.search-input-box {
    display: none;
    z-index: 100;

    user-select: none;
    -webkit-user-select: none;
}

.search-form {
    height: 39px;
    position: relative;

    user-select: none;
    -webkit-user-select: none;
}

.search-input-field {
    background-color: #fff;
    border: 1px solid rgb(185,185,185);
    border-radius: 1px;
    border-top-color: rgb(160,160,160);
    cursor: text;
    display: inline-block;
    font: 18px arial,sans-serif;
    height: 36px;
    line-height: 36px;
    max-width: 703px;
    position: relative;
    width: 703px;
    margin-top: 1px;

    user-select: none;
    -webkit-user-select: none;
}

.search-container {
    margin-right: 0;
    min-height: 43px;
}

.search-input-field {
    width: 258px;
}

@media only screen and (max-width: 500px) {
    .search-container {
        min-width: 425px;
    }
}

@media only screen and (min-width: 700px) {
    .search-container {
        margin-right: 7px;
    }

    .search-input-field {
        width: 486px;
    }
}

@media only screen and (min-width: 884px) {
    .search-container {
        margin-right: 7px;
    }

    .search-input-field {
        width: 703px;
    }
}

.search-input-field:hover {
    border: 1px solid #a9a9a9;
    border-top-color: #909090
}

.search-input-field.active {
    border: 1px solid #4D90FE;
}

.search-input-field > input {
    background: transparent;
    border: none;
    box-sizing: border-box;
    margin: 0;
    outline: none;
    padding: 0 33px 0 8px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 22px;
    line-height: 36px;
    color: #333;
}

.search-placeholder {
    color: #bbb;
    bottom: 0;
    font-size: 16px;
    left: 9px;
    margin-top: 1px;
    overflow: hidden;
    position: absolute;
    right: 9px;
    text-align: initial;
    text-overflow: ellipsis;
    top: 0;
    visibility: inherit;
    white-space: nowrap;
}

.search-speed-container {
    position: absolute;
    right: 4px;
    top: 4px;
    width: 26px;
    height: 26px;
    border: 2px solid #FFFFFF;
    border-radius: 50%;
    cursor: pointer;

    user-select: none;
    -webkit-user-select: none;
}

.search-speed-container a {
    width: 26px;
    height: 26px;
    display: block;
    outline: none;
    position: relative;

    user-select: none;
    -webkit-user-select: none;
    pointer-events: none;
}

.search-speed-container img {
    width: 22px;
    height: 21px;
    top: 1px;
    left: 0;
    position: absolute;
    user-select: none;
    -webkit-user-select: none;
    pointer-events: none;
}

/* Search button */

.search-button {
    background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
    height: 37px;
    border-radius: 2px;
    margin-left: 10px;
    float: right;
}

.search-button button {
    display: inline-block;
    font: 15px arial,sans-serif;
    cursor: pointer;
    height: 30px;
    margin: 0;
    background: 0 0;
    padding: 5px 10px 0 10px;
    color: #fff;
    outline: 0;
    border: 0;
}

.search-button .search-button-item-icon {
    background: url(img/buttons/search/search_white_icon.png)left center no-repeat;
    padding-bottom: 2px;
}

.search-button .search-button-item-text {
    font-size: 12px;
    margin-left: 20px;
    min-width: 60px;
    display: inline-block;
}

/* Search flexible template */

.search-input-field {
    height: 31px;
}

.search-speed-container {
    right: 2px;
    top: 1px;
}

.search-button {
    height: 32px;
}

.search-speed-container img {
    width: 18px;
    height: 19px;
    top: 2px;
    left: 2px;
}

.search-button button {
    padding: 0 10px;
}

.application-logo {
    width: 33px;
    top: -4px;
}

.search-placeholder {
    margin-top: -1px;
    font-size: 15px;
}

.search-input-field > input {
    line-height: 29px;
    font-size: 21px;
}

@media only screen and (max-width: 500px) {
    .search-container {
        min-width: 425px;
    }
}

@media only screen and (min-width: 700px) {
    .search-container {
        margin-right: 7px;
    }

    .search-input-field {
        width: 486px;
    }
}

@media only screen and (min-width: 1600px) {
    .search-container {
        margin-right: 7px;
    }

    .search-input-field {
        width: 703px;
    }

    .search-input-field {
        height: 36px;
    }

    .search-speed-container {
        right: 4px;
        top: 4px;
    }

    .search-button {
        height: 37px;
    }

    .search-speed-container img {
        width: 22px;
        height: 21px;
        top: 1px;
        left: 0;
    }

    .search-button button {
        padding: 5px 10px 0 10px;
    }

    .application-logo {
        width: 40px;
        top: -1px;
    }

    .search-placeholder {
        margin-top: 1px;
        font-size: 16px;
    }

    .search-input-field > input {
        font-size: 22px;
        line-height: 36px;
    }
}

/* Tiles style */

a, a:active, a:hover, a:visited {
    color: inherit;
    text-decoration: none;
}

.mv-container {
    margin-top: 55px;
    position: relative;
}

.mv-placeholder {
    border-radius: 3px;
    background: rgba(0, 0, 0, 0);
    border: 1px dashed rgba(0, 0, 0, 0.2);
}

.hplogo {
    margin-top: 75px;
    border-radius: 10px;
    width: 269px;
    height: 95px;
    border-color: #969696;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1), 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    visibility: hidden;
}

.dials-notifications {
    position: fixed;
    top: 200px;
    left: 0px;
    right: 0px;
    display: none;
    cursor: default;
    user-select: none;
    -webkit-user-select: none;
}

.dials-notification .message {
    width: 300px;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 23px 23px 22px;
    border-radius: 5px;
    margin: auto;
    color: #000;
    text-align: center;
    cursor: default;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
}

.dials-notification-message-text {
    color: #eee;
}

.mv-tiles {
    width: 446px;
    min-width: 425px;
    margin: 0;
    margin-top: 45px;
    margin-bottom: 40px;
    padding: 0 0 30px;
    position: relative;
    text-align: -webkit-center;
    opacity: 0;
}

.mv-mask {
    border-radius: 4px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    min-width: 200px;
    min-height: 146px;
    z-index: 10;
    pointer-events: none;
    -webkit-user-select: none;
    position: absolute;
    background: rgba(0,0,0,0);
    padding: 0;
    outline: 0;
}

.mv-mask-bg {
    background: rgba(0,0,0,0.2);
    border-color: rgba(0,0,0,0.2);
}

@media only screen and (max-height: 680px) {
    .mv-container {
        max-height: 370px;
    }
}

@media only screen and (min-width: 700px) {
    .mv-tiles {
        width: 674px;
        padding-left: 0;
    }
}

@media only screen and (min-width: 884px) {
    .mv-tiles {
        width: 884px;
        padding-left: 0;
    }
}

.mv-tile-container {
    background: #F2F2F2;
    position: relative;
    border-radius: 4px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.mv-tile {
    -webkit-transition-duration: 200ms;
    -webkit-transition-property: -webkit-transform, border, box-shadow, margin, opacity, width;
    cursor: pointer;
}

.mv-tile,
.mv-empty-tile,
.mv-new-dial,
.mv-placeholder {
    border-radius: 4px;
    width: 200px;
    height: 145px;
    margin: 1px 10px 24px;
    display: inline-block;
    font-family: arial, sans-serif;
    font-size: 12px;
    line-height: 100%;
    opacity: 1;
    outline: 0;
    position: relative;
    vertical-align: top;
    white-space: nowrap;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 1px, rgba(0, 0, 0, 0.0470588) 0px 2px 8px;
}

.mv-tile,
.mv-empty-tile,
.mv-new-dial {
    opacity: 0;
    outline: none !important;
}

.mv-placeholder {
    box-shadow: none;
}

.mv-new-dial {
    background: rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

.mv-new-dial:hover {
    opacity: 1;
}

.mv-new-dial-img {
    width: 24px;
    height: 24px;
    display: block;
    margin: 0 auto;
    position: relative;
    top: 60px;
    user-select: none;
    -webkit-user-select: none;
}

.mv-title {
    -webkit-mask-image: linear-gradient(to right, #000, #000, 156px, transparent);
    height: 15px;
    left: 29px;
    line-height: 14px;
    top: 8px;
    width: 165px;
    border: none;
    overflow: hidden;
    position: absolute;
    text-overflow: clip;
    text-align: left;
}

.mv-favicon {
    background-size: 16px;
    height: 16px;
    left: 7px;
    margin: 0;
    pointer-events: none;
    position: absolute;
    top: 6px;
    width: 16px;
}

.mv-favicon.mv-favicon-failed img {
    display: none;
}

.mv-favicon img {
    height: 100%;
    width: 100%;
}

.mv-search {/*outline: 2px solid red;*/
    height: 24px;
    width: 24px;
    border-radius: 12px;
    margin: 10px 0 0 10px;
    
    cursor: pointer;
    
    position: absolute;
    bottom: 3px;
    right: 3px;
    
    background-color: #FFCC00;
    background-image: url("img/search/magnifier.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 18px;
    
    opacity: 0.6;
}

.mv-search:hover{
    opacity: 0.9;
}

.mv-thumb {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    height: 117px;
    width: 200px;
    border: none;
    cursor: pointer;
    display: block;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 28px;
}

.mv-thumb.mv-thumb-image {
    background: #FFF;
}

.mv-thumb .thumbnail {
    height: auto;
    min-height: 100%;
    width: 100%;
}

.mv-thumb.mv-thumb-image .thumbnail {
    max-width: 95%;
    width: 95%;
    min-height: 93%;
    margin-top: 4px;
    position: relative;
    border: none;
}

.mv-thumb.mv-thumb-live .thumbnail {
    width: 102%;
}

.mv-footer {
    position: absolute;
    top: 145px;
    text-align: center;
}

.tile-footer-shadow {
    width: 100%;
}

.mv-thumb-loading {
    background-color: #FFFFFF;
    opacity: 0.5;
}

.mv-dot-bg,
.mv-text-bg {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    height: 100%;
    width: 100%;
    position: absolute;
}

.mv-text-bg-overlay {
    position: absolute;
    left: 0;
    width: 200px;
}

.mv-dot {
    display: block;
    width: 32px;
    height: 32px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -11px;
    margin-top: -18px;
    background: url('img/buttons/tiles/earth.png') no-repeat;
}

.mv-right-buttons {
    position: absolute;
    top: 0;
    right: 0;
    -webkit-mask-image: linear-gradient(to left, #000, #000, 57px, transparent);
    background-color: #F2F2F2;
    z-index: 5;
    -webkit-transition-delay: 1ms;
    opacity: 0;
    border-top-right-radius: 4px;
}

.mv-tile:hover .mv-right-buttons,
.mv-right-buttons:hover {
    -webkit-transition-delay: 1ms;
    opacity: 1;
}

.mv-right-buttons-container {
    position: relative;
    width: 60px;
    height: 28px;
}

.mv-close {
    -webkit-mask-image: -webkit-image-set( url(img/buttons/tiles/close.png) 1x, url(img/buttons/tiles/close.png@2x) 2x);
    -webkit-mask-position: 5px 10px;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 10px 10px;
    background-color: rgba(90, 90, 90, 0.7);
    display: block;
    height: 30px;
    position: absolute;
    right: 0;
    width: 24px;
    border: none;
    cursor: pointer;
}

.mv-settings {
    -webkit-mask-image: -webkit-image-set( url(img/buttons/tiles/settings.png) 1x, url(img/buttons/tiles/settings.png@2x) 2x);
    -webkit-mask-position: 5px 8px;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 14px 14px;
    
    background-color: rgba(90, 90, 90, 0.95);
    display: block;
    height: 28px;
    position: absolute;
    right: 24px;
    width: 25px;
    border: none;
    cursor: pointer;
}

.mv-host-name,
.mv-host-domain {
    position: absolute;
    width: 100%;
    line-height: 1.1;
    overflow: hidden;
    font-family : sans-serif;
}

.mv-host-name span,
.mv-host-domain {
    padding: 0 5px;
    max-width: 200px;
    display: block;
    overflow: hidden;
}

.mv-host-name span {
    -webkit-mask-image: linear-gradient(to right, #000, #000, 192px, transparent);
}

.mv-host-domain {
    -webkit-mask-image: linear-gradient(to right, #000, #000, 188px, transparent);
}

.mv-no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.mv-restore-container-wrap {
    display: none;
}

.mv-restore-container {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    padding: 9px 20px 9px 25px;
    line-height: 15px;
    vertical-align: top;
    display: inline-block;
}

.mv-restored-dial-text {
    cursor: default;
    display: inline-block;
    font: 13px Arial;
    color: #F1F1F1;
    margin-right: 45px;
}

.mv-restore-dial {
    color: #8BC34A;
    font: bold 13px Arial;
    -webkit-user-select: none;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    margin-right: 52px;
}

.mv-restore-dial:hover,
.mv-restore-dial:active {
    color: #8BC34A;
    text-decoration: underline;
}

.mv-restore-close {
    -webkit-mask-image: -webkit-image-set( url(img/buttons/tiles/close.png) 1x, url(img/buttons/tiles/close.png@2x) 2x);
    -webkit-mask-position: 0px 0px;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 10px 10px;
    background-color: rgba(255, 255, 255, 0.85);
    display: inline-block;
    height: 10px;
    width: 10px;
    border: none;
    cursor: pointer;
}

.mv-restore-close:hover {
    background-color: rgba(255, 255, 255, 1);
}

.mv-tiles.page-dials-container-max-cols1 {
    width: 270px;
}

@media only screen and (min-width: 50px) {
    /*.mv-tiles {
        margin: 0 0 40px 0;
    }*/
}

@media only screen and (min-width: 650px) {
    .mv-tiles.page-dials-container-max-cols2 {
        width: 480px;
    }

    /*.mv-tiles {
        margin: 30px 0 40px 0;
    }*/
}

@media only screen and (min-width: 710px) {
    .mv-tiles.page-dials-container-max-cols3 {
        width: 710px;
    }
}

@media only screen and (min-width: 884px) {
    .mv-tiles.page-dials-container-max-cols4 {
        width: 884px;
    }
}

@media only screen and (min-width: 1150px) {
    .mv-tiles.page-dials-container-max-cols5 {
        width: 1150px;
    }
}

@media only screen and (min-width: 1280px) {
    .mv-tiles {
        width: 1150px;
    }
}

/* Google search bar */

.search-suggestion {
    background: #fff;
    cursor: pointer;
    width: 100%;
    margin-left: -1px;
    margin-top: 10px;
    position: absolute;
    z-index: 8;
    border: 1px solid #ccc;
    max-height: 185px;
    overflow: auto;
    box-shadow: 0 1px 10px -5px #000;
    font-size: 17px;
    display: none;
}

.search-suggestion-item {
    text-align: left;
    padding: 4px 0 4px 12px;
    -webkit-user-select: none;
    position: relative;
    max-height: 36px;
    overflow: hidden;
}

.search-suggestion-img {
    position: absolute;
    top: 13px;
}

.search-suggestion-text {
    margin-left: 25px;
    margin-right: 12px;
    white-space: nowrap;
    overflow: hidden;
}

.search-suggestion-item.selected {
    background-color: rgb(238, 238, 238);
}

/* Footer */

.header,
.footer,
.tou {
    z-index: 999999997;
    position: fixed;
    bottom: 15px;
    left: 25px;
    display: none;
}

.footer-description {
    z-index: 999999999999;
    position: fixed;
    bottom: 55px;
    left: 25px;

    background-color: rgba(0, 0, 0, 0.6);
    border: none;
    border-radius: 5px;
    padding: 5px;
    width: 334px;
    user-select: none;
    -webkit-user-select: none;
    display: none;
}

.footer-description span {
    position: relative;
    top: -10px;
    left: 9px;
}

.footer-description-image {
    width: 27px;

    user-select: none;
    -webkit-user-select: none;
}

.footer-description-content {
    position: relative;
}

.footer-description-content span {
    cursor: default;
    user-select: none;
    -webkit-user-select: none;
}

.footer-description-close,
.dials-notification-message-close {
    position: absolute;
    cursor: pointer;

    user-select: none;
    -webkit-user-select: none;
}

.footer-description-close {
    top: 2px;
    right: 2px;
}

.dials-notification-message-close {
    top: 7px;
    right: 8px;
}

.footer-description-text {
    padding: 15px 35px 5px 14px;
    color: #eee;
}

.header {
    top: 15px;
    left: 25px;
    height: 20px;
    display: none;

    user-select: none;
    -webkit-user-select: none;
}

.tou {
    right: 25px;
    left: auto;
    display: none;
}

.relax {
    position: fixed;
    left: 0;
    width: 100%;
    z-index: 999999996;
    bottom: 10px;
    opacity: 1;
    display: block;
    min-height: 36px;
}

.relax .tooltip-inner {
    max-width: 300px;
}

.relax button.btn,
.relax button.btn-success {
    font-size: 13px;
    position: relative;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.relax .relax-done-btn,
.relax .relax-start-btn {
    display: none;
}

.relax .relax-start-btn {
    opacity: 0;
    padding: 6px 12px 6px 31px;
}

.relax .relax-start-btn-text {
    position: relative;
    top: 1px;
}

.relax-start-btn-img {
    width: 19px;
    position: absolute;
    top: 6px;
    left: 7px;
}

.item-relax-mode {
    display: none !important;
}


.header img {
    width: 16px;
}

a.header-settings-link,
a.footer-settings-link,
a.footer-themes-link {
    color: #F1F1F1;
    font-size: 13px;
    text-shadow: 1px 1px 1px black, 0 0 1em red;

    user-select: none;
    -webkit-user-select: none;
    outline: none;
    cursor: pointer;
}

.header-apps {
    margin-right: 22px;
}

.header a img {
    margin-right: 8px;
}

a.tou-link {
    color: #F1F1F1;
    font-size: 11px;
    text-shadow: 1px 1px 1px #000, 0 0 1em #EC3E3E;
    opacity: 0.35;

    user-select: none;
    -webkit-user-select: none;
}

a.tou-link:hover {
    opacity: 0.8 !important;
}

a.todo-link {
    color: #F1F1F1;
    font-size: 13px;
    text-shadow: 1px 1px 1px #000, 0 0 1em #EC3E3E;

    user-select: none;
    -webkit-user-select: none;
    outline: none;
    display: none;
    cursor: pointer;
}

a.privacy-link {
    margin-left: 20px;

    user-select: none;
    -webkit-user-select: none;
    outline: none;
}

a.todo-link {
    user-select: none;
    -webkit-user-select: none;
    outline: none;
    cursor: pointer;
}

a.created-link,
a.powered-link {
    margin-right: 20px;

    user-select: none;
    -webkit-user-select: none;
    display: none;
}

a.header-settings-link-dark,
a.footer-settings-link-dark {
    color: #232323;
    font-weight: bold;
    font-size: 13px;
    text-shadow: none;
    cursor: pointer;
    /* text-shadow: 1px 1px 2px #000, 0 0 1em #F00; */
}

a.tou-link-dark {
    color: #232323;
    font-weight: bold;
    font-size: 13px;
    text-shadow: none;
    cursor: pointer;
}

a.todo-link-dark {
    color: #232323;
    font-weight: bold;
    font-size: 13px;
    text-shadow: none;
    cursor: pointer;
}

a.header-settings-link:hover,
a.footer-settings-link:hover {
    color: #FFFFFF;
}

.header img {
    position: relative;
    top: -1px;
    margin-right: 2px;
}

.footer-visible-dials {
    cursor: pointer;
}

#terms-link,
#privacy-link {
    font-size: 11px;
    opacity: 0.8;
}

/* To do container */

.todo-link.tou-link-dark {
    opacity: 1;
}

a.todo-link.tou-link-dark:hover {
    color: #232323;
    opacity: 1 !important;
}

.todo-link-text {
    padding-right: 2px;
}

.todo-link-done-counter {
    display: none;
}

.todo-container {
    z-index: 999999999999;
    position: fixed;
    display: none;
}

.todo-container-content {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 5px;

    height: auto;
    width: auto;
    position: relative;
    overflow-y: hidden;

    user-select: none;
    -webkit-user-select: none;
}

.todo-header {
    background: rgba(0,0,0,0.8);
    width: 100%;
    max-width: 100%;

    user-select: none;
    -webkit-user-select: none;
    cursor: move;
    border-bottom: 1px dashed rgba(255, 255, 255, 0);
}

.todo-header:hover {
    border-bottom: 1px dashed rgba(255, 255, 255, 0.3);
}

.todo-header-container {
    padding: 9px 15px 8px;

    user-select: none;
    -webkit-user-select: none;
    cursor: move;
}

.todo-header-left,
.todo-header-right {
    display: inline-block;
    width: 49%;

    user-select: none;
    -webkit-user-select: none;
}

.todo-header-left {
    text-align: left;
    cursor: move;
}

.todo-header-right {
    text-align: right;
    cursor: default;
    position: relative;
}

.todo-header-done,
.todo-header-delimiter,
.todo-header-total,
.todo-header-counter-text {
    font-size: 90%;
    color: #FFF;
    text-shadow: 0 1px 30px #000;
    opacity: 0.5;
    position: relative;
    top: 2px;
}

.todo-header-left,
.todo-header-done,
.todo-header-delimiter,
.todo-header-total {
    cursor: move;

    user-select: none;
    -webkit-user-select: none;
}

.todo-header-toggle {
    color: #FFF;
    text-shadow: 0 1px 30px #000;
    opacity: 0.5;
    cursor: pointer;
    outline: none;
    position: absolute;
    top: -10px;
    left: 16px;
    display: none;

    user-select: none;
    -webkit-user-select: none;
}

.todo-header-toggle:hover {
    opacity: 1;
}

.todo-body {
    position: relative;
}

.todo-footer {
    width: 100%;
    overflow: hidden;
    user-select: none;
    -webkit-user-select: none;
}

.todo-footer-input-container {
    padding: 6px 0 8px;

    user-select: none;
    -webkit-user-select: none;
}

.todo-footer-input-form {
    padding: 0 8px 8px 12px;
}

.todo-footer-input-form-left,
.todo-footer-input-form-right {
    display: inline-block;

    user-select: none;
    -webkit-user-select: none;
}

.todo-footer-input-form-left {
    width: 67%;
    position: relative;
    top: 3px;
}

.todo-footer-input-form-right {
    width: 28%;
}

.todo-footer-input {
    width: 100%;
    border: 0;
    box-sizing: border-box;
    color: #fff;
    font-size: 15px;
    opacity: 0.8;
    outline-width: 0;
    margin: 0;
    background: none;
}

.todo-footer-input-form-left.input-error ::-webkit-input-placeholder {
    color: #FFFFFF;
}

.todo-footer-input-submit {
    display: inline-block;
    padding: 3px 8px;
    margin-bottom: 0;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: rgba(0,0,0,0);
    background-image: none;
    border-radius: 2px;
    color: #fff;
    opacity: 0.5;
    border: none;
    font: 12px arial,sans-serif;
    width: 100%;
    max-width: 120px;
    position: relative;
    top: 1px;
    overflow: hidden;

    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;

    user-select: none;
    -webkit-user-select: none;
}


.todo-main-content:hover .todo-footer-input-submit {
    opacity: 1;
    background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
}

.empty-todo-list,
.done-todo-list,
.work-todo-list {
    padding: 4px 15px;
    max-height: 550px;

    text-align: center;
    position: relative;
    display: none;
}

.empty-todo-list,
.done-todo-list {
    overflow: hidden;
}

.show-todo-list-center {
    position: relative;
    top: 30px;
}

.empty-todo-list-img,
.done-todo-list-img {
    color: #eee;
    font-size: 400%;
    font-weight: 100;
    line-height: 110%;

    user-select: none;
    -webkit-user-select: none;
    cursor: default;
}

.empty-todo-list-title,
.done-todo-list-title {
    margin-bottom: 9px;
    color: #eee;
    font-size: 15px;

    user-select: none;
    -webkit-user-select: none;
    cursor: default;
}

.empty-todo-list-description,
.done-todo-list-description {
    color: #7f7f7f;
    font-size: 12px;

    user-select: none;
    -webkit-user-select: none;
    cursor: default;
}

.work-todo-list {
    overflow-y: auto;
}

.work-todo-list ul {
    list-style: none;
}

.work-todo-list-item {
    color: #f6f6f6;
    font-size: 14px;
    line-height: 1.2em;
}

.work-todo-list-item-content {
    position: relative;
    cursor: pointer;
    padding: 5px 0;
    overflow-x: hidden;
    text-align: left;
}

.work-todo-list-item-label {
    position: absolute;
    left: 0;
    top: 0;
    #height: 100%;
    margin-left: -15px;
    padding: 0 5px 0 15px;
    line-height: 15px;
}

.work-todo-list-item-label input[type=checkbox] {
    margin: 0;
}

.work-todo-list-item-checkbox {
    padding: 20px;
    position: relative;
    top: 7px;
    display: inline-block;
    color: rgba(255,255,255,0.7);
    cursor: pointer;
    -webkit-transition: color 0.1s ease;
}

.work-todo-list-item-title {
    display: block;
    margin: 0 18px 0 20px;
    cursor: pointer;
    word-wrap: break-word;
    text-align: left;
}

.work-todo-list-item-edit {
    display: none;
    width: 100%;
    padding-right: 40px;
    border: 0;
    box-sizing: border-box;
    color: #fff;
    outline-width: 0;
    margin: 0;
    background: none;
    margin-left: 20px;
    font-size: 14px;
    line-height: 1.2em;
    text-align: left;
}

.work-todo-list-item-remove {
    height: 8px;
    width: 8px;
    position: absolute;
    border-radius: 100%;
    line-height: 9px;
    text-align: center;
    padding: 3px;
    top: 4px;
    right: 0;
    border: 1px solid rgba(255,255,255,0.5);
    color: #fff;
    cursor: pointer;
    font-size: 8px;
    -webkit-transition: all 0.2s ease-in;
    display: none;
    box-sizing: initial;
}

.work-todo-list-item-remove:hover {
    /*border: 1px solid rgba(255,255,255,0.5);*/
    color: #fff;
}

.work-todo-list-item-done {
    text-decoration: line-through;
    color: #9C9B9B;
}

.todo-header-counter {
    display: none;
}

.ui-icon-gripsmall-diagonal-se {
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: se-resize;
    background-image: url("img/buttons/todo/ui-icons_228ef1_256x240.png");
}

/* Let's get this party started */
.todo-container ::-webkit-scrollbar {
    width: 5px;
}

/* Track */
.todo-container ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
.todo-container ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(156,155,155,0.5);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
.todo-container ::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(156,155,155,0.5);
}

.todo-popup-hide {
    cursor: pointer;
    position: absolute;
    right: -7px;
    top: -12px;
}

.todo-popup-hide-img {
    width: 15px;
}

/* Clock */

.mv-clock {
    pointer-events: none;
    position: relative;
}

.clock-container {
    margin-top: 200px;
    display: none;

    pointer-events: none;
    user-select: none;
    -webkit-user-select: none;

}

.ce-countdown {
    margin: 0 auto;
    max-width: 800px;
    text-align: center;

    pointer-events: none;
    user-select: none;
    -webkit-user-select: none;
}

.ce-countdown div,
.ce-countdown span {
    pointer-events: none;
    user-select: none;
    -webkit-user-select: none;
}

.clock-format-label {
    color: #FFFFFF;
}

.clock-background {
    border-radius: 5px;
}

/* Footer links fix */

.footer {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    padding: 10px 11px 9px 9px;
    bottom: 9px;
    height: 34px;
    cursor: default;
}

.footer a {
    text-shadow: none !important;
}

.footer a + a {
    margin-left: 15px;
}

.footer .footer-rate-us img {
    width: 14px;
    position: relative;
    top: -2px;
    margin-right: 3px;
}

.footer-links-display-block {
    display: inline;
    padding: 6px 11px;
    position: relative;
}

.footer-links-list-block {
    padding-left: 9px;
    display: none;
}

.footer-links-list-block-show {
    display: inline;
}

.footer-toggle-display-links {
    outline: none;
    cursor: pointer;
    width: 22px;
    opacity: 0.75;
    -webkit-transition: all 0.2s ease-in;
    position: absolute;
    top: 2px;
    left: 0;
}

.footer-toggle-display-links:hover {
    opacity: 0.95;
}

.footer .tooltip {
    white-space: nowrap;
}

@media (max-width: 1000px) {
    .tou {
        display: none !important;
    }

    .relax {
        text-align: right;
        padding-right: 25px;
    }
}

@media (max-width: 750px) {
    .relax-start-btn {
        display: none !important;
    }
}

@media (max-height: 700px) {
    #clock-container {
        margin-top: 130px;
    }

    #dials-notifications {
        top: 120px;
    }
}

@media (max-height: 600px) {
    #clock-container {
        margin-top: 100px;
    }

    #dials-notifications {
        top: 103px;
    }
}

@media (max-height: 500px) {
    #clock-container {
        margin-top: 60px;
    }

    #dials-notifications {
        top: 82px;
    }
}

@media (max-height: 450px) {
    #clock-container {
        margin-top: 40px;
    }

    #dials-notifications {
        top: 0px;
    }
}

/* Dial context menu */

FIELDSET {
    border: solid 1px #CCC;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    padding: 1em 2em;
    margin: 1em 0em;
}

LEGEND {
    color: #333;
    font-size: 14px;
    padding: 0em .5em;
    font-weight:bold;
}

img.picker {
    height:16px;
    width:16px;
    margin-left:-19px;
    vertical-align:middle;
    padding-bottom: 2px;
    cursor:pointer;
    border:none;
}

.b-m-ibody, .b-m-arrow {
    text-align: left;
}

/* jGrowl plugin */

.jGrowl {
    font-size: 13px;
    line-height: 18px;
}

.jGrowl.top-right {
    left: 0;
    right: auto;
    top: 45px;
    z-index: 9999999991;
}

.jGrowl-message {
    word-break: normal;
    text-align: center;
    cursor: default;
    padding-top: 2px;
}

.jGrowl-notification.alert.ui-state-highlight.ui-corner-all.default {
    border: 1px solid #F44336;
    background: #1F1F1F;
    color: #FFFFFF;
}

.jGrowl-notification .jGrowl-close {
    outline: none;
}

/* Modal window */

.modal {
    z-index: 999999999;
}

.modal-backdrop {
    z-index: 999999998;
}

#tileSearchModal{
    background-color: rgba(0, 0, 0, 0.5)
}

#tileSearchImg{
    max-width: 300px;
}

.modal-dialog-search{
    width: 800px!important;
}

.modal-search{
    padding: 20% 30px 30px 30px;
    background-color: transparent;
    box-shadow: none;
    border: 0;
    
}

.modal-search .input-group{
    width: 600px!important;
}

.modal-search .glyphicon-search{
    color: white;
    margin-right: 10px;
}

.modal-search .datalist{
    display: none;
    
    position: absolute;
    top: 35px; left: 0px; right: 0px;
    
    text-align: left;
    list-style: none;
    
    background-color: white;
    border-radius: 0 0 5px 5px;
    border: 1px solid #f4f4f4;
    
    
}

.modal-search .datalist li{
    cursor: pointer;
    font-size: 14px;
    padding: 8px 8px 8px 8px;
    margin : 0 0px 0 0px;
    border-bottom: 1px solid #f4f4f4;
}

.modal-search .datalist li:last-child{
    border: 0;
}

.modal-search .datalist li.active{
    background-color: beige;
}

.modal-search .datalist li:hover{
    background-color: azure;
}

#todo-footer-input{
    user-select: none!important;
    -moz-user-select: none!important;
    -webkit-user-select: none!important;
}

.ce-countdown--theme-7{
    width: 610px;
    margin-top: 50px;
    padding-top: 0!important;
}

.ce-countdown, .ce-countdown .ce-minutes, .ce-countdown .ce-seconds{
    position: relative;
}

.date-block{
    position: absolute;
    top: -18px; right: -15px;
    letter-spacing: 1px;
    font-size: 16px;
}

.date-block .digits{
    display: none!important;
}

.ce-countdown--theme-0 .date-block{
    top: 4px; right: -119px; font-size: 22px;
}
.ce-countdown--theme-0 .date-and-label{
    right: 0; font-size: 16px;
}

.ce-countdown--theme-5 .date-block{
    top: 40px; right: -110px;
}
.ce-countdown--theme-10 .date-block{
    top: 50px; right: -32px; font-size: 20px; color: white;
}

.ce-countdown--theme-9 .date-block{
    font-size: 24px;
    top: -100px; right: -130px;
    width: 140px; height: 30px;
}
.ce-countdown--theme-9 .date-and-label{
    right: -10px;
}

.ce-countdown--theme-6 .date-block{
    top: -50px; right: 0px;
}

.ce-countdown--theme-7 .date-block{
    top: -28px; right: -100px;
}
.ce-countdown--theme-7 .date-and-label{
    right: -104px;
}
.ce-countdown--theme-3 .date-block{
    top: -23px; right: -120px; font-size: 20px;
}

.ce-countdown--theme-3 .date-and-label{
    right: -35px;
}

#floatingBarsG{
	position:relative;
	width:60px;
	height:75px;
	margin:auto;
}

.blockG{
	position:absolute;
	background-color:rgb(255,255,255);
	width:10px;
	height:23px;
	border-radius:8px 8px 0 0;
		-o-border-radius:8px 8px 0 0;
		-ms-border-radius:8px 8px 0 0;
		-webkit-border-radius:8px 8px 0 0;
		-moz-border-radius:8px 8px 0 0;
	transform:scale(0.4);
		-o-transform:scale(0.4);
		-ms-transform:scale(0.4);
		-webkit-transform:scale(0.4);
		-moz-transform:scale(0.4);
	animation-name:fadeG;
		-o-animation-name:fadeG;
		-ms-animation-name:fadeG;
		-webkit-animation-name:fadeG;
		-moz-animation-name:fadeG;
	animation-duration:1.2s;
		-o-animation-duration:1.2s;
		-ms-animation-duration:1.2s;
		-webkit-animation-duration:1.2s;
		-moz-animation-duration:1.2s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-direction:normal;
		-o-animation-direction:normal;
		-ms-animation-direction:normal;
		-webkit-animation-direction:normal;
		-moz-animation-direction:normal;
}

#rotateG_01{
	left:0;
	top:27px;
	animation-delay:0.45s;
		-o-animation-delay:0.45s;
		-ms-animation-delay:0.45s;
		-webkit-animation-delay:0.45s;
		-moz-animation-delay:0.45s;
	transform:rotate(-90deg);
		-o-transform:rotate(-90deg);
		-ms-transform:rotate(-90deg);
		-webkit-transform:rotate(-90deg);
		-moz-transform:rotate(-90deg);
}

#rotateG_02{
	left:8px;
	top:10px;
	animation-delay:0.6s;
		-o-animation-delay:0.6s;
		-ms-animation-delay:0.6s;
		-webkit-animation-delay:0.6s;
		-moz-animation-delay:0.6s;
	transform:rotate(-45deg);
		-o-transform:rotate(-45deg);
		-ms-transform:rotate(-45deg);
		-webkit-transform:rotate(-45deg);
		-moz-transform:rotate(-45deg);
}

#rotateG_03{
	left:25px;
	top:3px;
	animation-delay:0.75s;
		-o-animation-delay:0.75s;
		-ms-animation-delay:0.75s;
		-webkit-animation-delay:0.75s;
		-moz-animation-delay:0.75s;
	transform:rotate(0deg);
		-o-transform:rotate(0deg);
		-ms-transform:rotate(0deg);
		-webkit-transform:rotate(0deg);
		-moz-transform:rotate(0deg);
}

#rotateG_04{
	right:8px;
	top:10px;
	animation-delay:0.9s;
		-o-animation-delay:0.9s;
		-ms-animation-delay:0.9s;
		-webkit-animation-delay:0.9s;
		-moz-animation-delay:0.9s;
	transform:rotate(45deg);
		-o-transform:rotate(45deg);
		-ms-transform:rotate(45deg);
		-webkit-transform:rotate(45deg);
		-moz-transform:rotate(45deg);
}

#rotateG_05{
	right:0;
	top:27px;
	animation-delay:1.05s;
		-o-animation-delay:1.05s;
		-ms-animation-delay:1.05s;
		-webkit-animation-delay:1.05s;
		-moz-animation-delay:1.05s;
	transform:rotate(90deg);
		-o-transform:rotate(90deg);
		-ms-transform:rotate(90deg);
		-webkit-transform:rotate(90deg);
		-moz-transform:rotate(90deg);
}

#rotateG_06{
	right:8px;
	bottom:7px;
	animation-delay:1.2s;
		-o-animation-delay:1.2s;
		-ms-animation-delay:1.2s;
		-webkit-animation-delay:1.2s;
		-moz-animation-delay:1.2s;
	transform:rotate(135deg);
		-o-transform:rotate(135deg);
		-ms-transform:rotate(135deg);
		-webkit-transform:rotate(135deg);
		-moz-transform:rotate(135deg);
}

#rotateG_07{
	bottom:0;
	left:25px;
	animation-delay:1.35s;
		-o-animation-delay:1.35s;
		-ms-animation-delay:1.35s;
		-webkit-animation-delay:1.35s;
		-moz-animation-delay:1.35s;
	transform:rotate(180deg);
		-o-transform:rotate(180deg);
		-ms-transform:rotate(180deg);
		-webkit-transform:rotate(180deg);
		-moz-transform:rotate(180deg);
}

#rotateG_08{
	left:8px;
	bottom:7px;
	animation-delay:1.5s;
		-o-animation-delay:1.5s;
		-ms-animation-delay:1.5s;
		-webkit-animation-delay:1.5s;
		-moz-animation-delay:1.5s;
	transform:rotate(-135deg);
		-o-transform:rotate(-135deg);
		-ms-transform:rotate(-135deg);
		-webkit-transform:rotate(-135deg);
		-moz-transform:rotate(-135deg);
}



@keyframes fadeG{
	0%{
		background-color:rgb(0,0,0);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-o-keyframes fadeG{
	0%{
		background-color:rgb(0,0,0);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-ms-keyframes fadeG{
	0%{
		background-color:rgb(0,0,0);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-webkit-keyframes fadeG{
	0%{
		background-color:rgb(0,0,0);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-moz-keyframes fadeG{
	0%{
		background-color:rgb(0,0,0);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

#sync-link{
    float: right
}














